h1 {
    color: #000080;
    text-align: center;
}

h2 {
    color: #0000A0;
    text-align: center;
}

a {
    color: cyan;
}

.class1 {
    width: 100%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(8,115,151,0.85);
}

table {
    border: #232C3F solid 5px;
    font-size: 20px;
}

.class2:hover {
    color: orange;
}